:root {
  scroll-behavior: smooth;
  font-size: 62.5%;  /* sets 1rem === 10px */
}

body {
  color: #9da1a4;
  background: #000000;
  margin: 0;
  font-family: 'VT323', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.MuiSlider-root {
  color: #9da1a4;
}